datadir="/var/lib/proxysql"

admin_variables=
{
	admin_credentials="{{getv "/proxysql/admin/user"}}:{{getv "/proxysql/admin/pass"}}"
	mysql_ifaces="{{getv "/proxysql/admin/ifaces"}}"
}

mysql_variables=
{
	threads={{getv "/proxysql/user/threads"}}
	max_connections={{getv "/proxysql/user/maxconns"}}
	default_query_delay=0
	default_query_timeout=36000000
	have_compress=true
	poll_timeout=2000
	interfaces="{{getv "/proxysql/user/ifaces"}}"
	default_schema="information_schema"
	stacksize=1048576
	server_version="5.5.30"
	connect_timeout_server=3000
	monitor_history=600000
	monitor_connect_interval=60000
	monitor_ping_interval=10000
	monitor_read_only_interval=1500
	monitor_read_only_timeout=500
	ping_interval_server=120000
	ping_timeout_server=500
	commands_stats=true
	sessions_sort=true
	connect_retries_on_failure=10
}


# defines all the MySQL servers
mysql_servers =
(
{{range getvs "/proxysql/db/*"}}
{{.}},
{{end}}
{}
)


# defines all the MySQL users
mysql_users:
(
{{range getvs "/proxysql/dbuser/*"}}
{{.}},
{{end}}
{}
)



#defines MySQL Query Rules
mysql_query_rules:
(
)

scheduler=
(
)


mysql_replication_hostgroups=
(
)
