[
  {kernel, [
    {inet_default_connect_options, [{nodelay, true}]},
    {inet_default_listen_options,  [{nodelay, true}]}
  ]},
  {rabbit,
    [
        {tcp_listeners, [{"127.0.0.1", 5672},{"::1",       5672}]},
	    {cluster_nodes, {['bunny@localhost'], disc}},
	    {hipe_compile, true}
        {vm_memory_high_watermark, {absolute, 64424509440}},
    	{cluster_partition_handling, pause_minority},
    	{collect_statistics_interval, 60000},
        {tcp_listen_options, [
        	{backlog,       4096},
            {nodelay,       true},
            {linger,        {true,0}},
            {exit_on_close, false}
    	]}
    ]
  },
  {rabbitmq_management,
    [{listener,
     [{port, 15672}]
    }]
  }
].
